<?xml version="1.0"?>
<launch>
    <node pkg="holodemo" type="static_publisher" name="camera_static_publisher">
        <param name="file_name" type="string" value="transforms.yaml" />
        <param name="transform" type="string" value="static_cloud_transform" />
    </node>

    <node pkg="holodemo" type="viz_manager" name="viz_manager" output="screen"/>

    <node pkg="holodemo" type="pandaJacob" name="pandaJacob"/>

    <node pkg="holodemo" type="mover" name="mover" output="screen"/>

    <node pkg="holodemo" type="pose_broadcaster" name="pose_broadcaster" output="screen"/>

    <node pkg="holodemo" type="path.py" name="path_test" output="screen"/>

    <node pkg="holodemo" type="distance_text.py" name="text_node" output="screen"/>

    <node pkg="holodemo" type="zone_list.py" name="zone_list" output="screen"/>

    <node pkg="holodemo" type="text_list.py" name="text_list" output="screen"/>

    <node pkg="holodemo" type="mesh_list.py" name="mesh_list" output="screen"/>





    <node pkg="holodemo" type="static_publisher" name="end_effector_static_publisher">
        <param name="file_name" type="string" value="transforms.yaml" />
        <param name="transform" type="string" value="sim_ee_transform" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find holodemo)/rviz/joint_viewer.rviz" />

    <param name="publish_frequency" type="double" value="100.0" />
    <param name="tf_prefix" type="string" value="" />
    <param name="robot_description" command="cat $(find holodemo)/urdfs/panda_with_inertia.urdf" />
   
    <!-- Robot state publisher    -->
    <arg name="node_start_delay" default="1.0" />  
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="panda_state_publisher" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " output="screen">
    <remap from="joint_states" to="/panda/joint_states"/>
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="/use_sim_time" value="true"/>
    </node>

</launch>
